<div class="card bg-ligh mb-5">
    <div class="card-body">
        <h5 class="card-title text-center fuente" style="color: rgb(120, 0, 175); font-weight: 600;">Agregar cita</h5>
        <div class="form-group mb-3">
            <label for="nombre" class="fuente">Nombre</label>
            <input type="text" name="nombre" id="nombre" class="form-control" placeholder="Ingresar nombre completo">
        </div>
        <div class="form-group mb-3">
            <label for="fecha" class="fuente">Fecha</label>
            <input type="date" name="fecha" id="fecha" class="form-control">
        </div>
        <div class="form-group mb-3">
            <label for="hora" class="fuente">Hora</label>
            <input type="time" name="hora" id="hora" class="form-control">
        </div>
        <div class="form-group mb-3">
            <label for="sintomas" class="fuente">Sintomas</label>
            <textarea name="sintomas" id="sintomas" rows="3" class="form-control" placeholder="Ingresar sintomas"></textarea>
        </div>
        <button style="width: 100%; background-color: rgb(166, 87, 240);" class="btn btn-block text-light">Agregar cita</button>
    </div>
</div>