img
{
    width: 250px;
    height: 250px;
    margin: 30px;
    background-color: pink;
    border-radius: 50px;
}

img.yo
{
    width: 120px;
    height: 200px;
    margin: 30px;
    border-radius: 20px;
}