<nav class="navbar" 
     style="background:linear-gradient(rgba(252, 18, 232, 0.6), rgba(253, 50, 209, 0.6), rgba(255, 89, 200, 0.6)); 
     height: 90px;">
    <div class="container-fluid d-flex justify-content-between">
      <span class="navbar-brand pb-2 ms-5 navtext" style="color: rgb(255, 195, 218); font-size: 2em;">
        <img src="../../../assets/img/lim.png" height="45px" width="45px">
        Lista de empleados
      </span>
      <div class="me-5">
        <img src="../../../assets/img/yo.jpg" 
         style="border-radius: 70px;" 
         height="70px" width="50px" 
         alt="Lim">
      <label class="ps-2 fs-5 navtext" style="color: rgb(255, 211, 228)">Paola Guadalupe Sánchez Medina</label>
      </div>
    </div>
</nav>