.inputText{
    font-family: 'Alkatra', cursive;
    font-size: 18px;
    margin-top: 2px;
    margin-left: 5px;
    color: rgb(142, 33, 156);
}
input[type=radio]{
    width: 20px;
    height: 20px;
}
.tableText{
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
    color: rgb(142, 33, 156);
}