<div class="container mt-3">
    <div class="card" style="width: 30rem; background-color: rgb(223, 189, 255);">
        <div class="card-body d-flex justify-content-center">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="sexo" id="todos">
                <label class="form-check-label inputText" for="">Todos ({{ obtenerTotalEmpleados() }})</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="sexo" id="femenino">
                <label class="form-check-label inputText" for="inlineRadio2">Femenino ({{ obtenerTotalFemenino() }})</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="sexo" id="masculino">
                <label class="form-check-label inputText" for="inlineRadio2">Masculino ({{ obtenerTotalMasculino() }})</label>
            </div>
        </div>
    </div>
    <div class="card mt-3 mb-5">
        <div class="card-body" style="background-color: rgb(223, 189, 255);">
            <p class="tableText fw-semibold" style="font-size: 20px;">Empleados</p>
            <table class="table table-hover tableText">
                <thead>
                    <tr>
                        <th scope="col">No.</th>
                        <th scope="col">RFC</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Primer Apellido</th>
                        <th scope="col">Segundo Apellido</th>
                        <th scope="col">Sexo</th>
                        <th scope="col">Salario</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let empleado of listEmpleados">
                        <td> {{ empleado.No }} </td>
                        <td> {{ empleado.RFC }} </td>
                        <td> {{ empleado.Nombre }} </td>
                        <td> {{ empleado.Primer_apellido }} </td>
                        <td> {{ empleado.Segundo_apellido }} </td>
                        <td> {{ empleado.Sexo}} </td>
                        <td> {{ empleado.Salario }} </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>