<nav class="navbar" 
     style="background:linear-gradient(rgba(252, 123, 18, 0.6), rgba(253, 142, 50, 0.6), rgba(255, 164, 89, 0.6)); 
     height: 90px;">
    <div class="container-fluid d-flex justify-content-center">
      <span class="navbar-brand fw-semibold pb-2" style="color: rgb(255, 225, 207); font-size: 2em;">
        <img src="../../../assets/img/lim.png" height="45px" width="45px">
        Balance General
        <img src="../../../assets/img/lim.png" height="45px" width="45px">
      </span>
    </div>
</nav>